InheritParentConfig: true
Checks: >
  -cert-err58-cpp,
  -google-explicit-constructor,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-interfaces-global-init,
  -bugprone-sizeof-expression

CheckOptions:
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: '__init__|pylir_.*'
