InheritParentConfig: true
Checks: >
  -cert-err58-cpp,
  -cppcoreguidelines-interfaces-global-init

CheckOptions:
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: '__init__|pylir_.*'
