---
BasedOnStyle: LLVM

AlignConsecutiveAssignments: None
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
CompactNamespaces: false
IncludeBlocks: Regroup
IncludeIsMainRegex: ''
IncludeCategories:
  - Regex: '<catch2/.*>'
    Priority: 1
  - Regex: '<mlir/.*>'
    Priority: 2
  - Regex: '<llvm/.*>'
    Priority: 3
  - Regex: '<pylir/.*>'
    Priority: 4
  - Regex: '<.*\..*>'
    Priority: 6
  - Regex: '<.*>'
    Priority: 5
  - Regex: '".*inc"'
    Priority: 9
  - Regex: '"pylir/.*"'
    Priority: 7
  - Regex: '".*"'
    Priority: 8
# TODO: Enable once using clang-format 16 in CI: InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
PointerAlignment: Left
Standard: c++17

...
